# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# Sensitive
.env
crdb/certs
crdb/keys

# Misc
replicator
help
crdb/data
*.log